:root {
  --project-color:#ee2106;
  --apply-color:#06ce16;
  --node-color:#ff9000;
  --candidate-color:#b4a306;
}

body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

input{
  margin-bottom: 10px;
}

.status {
  font-weight: normal;
  color: rgb(62, 130, 194);
  font-size: 24px;
}

.error {
  font-weight: normal;
  color: rgb(177, 20, 20);
  font-size: 24px;
}

#fancyTreeContainer .fancytree-active {
  background-color: rgba(61, 58, 58, 0);
}

#fancyTreeContainer .fancytree-container {
  outline: none;
}

#fancyTreeContainer .fancytree-title {
  outline: none;
}

#fancyTreeContainer .fancytree-expander {
  vertical-align: middle;
}

input[type="submit"].project,
input[type="reset"].project,
input[type="button"].project,
button.project,
.button.project {
  box-shadow: inset 0 0 0 2px var(--project-color);
	color: var(--project-color) !important;
}

input[type="submit"].apply,
input[type="reset"].apply,
input[type="button"].apply,
button.apply,
.button.apply {
  box-shadow: inset 0 0 0 2px var(--apply-color);
	color: var(--apply-color) !important;
}

input[type="submit"].node,
input[type="reset"].node,
input[type="button"].node,
button.node,
.button.node {
  box-shadow: inset 0 0 0 2px var(--node-color);
	color: var(--node-color) !important;
}

input[type="submit"].candidate,
input[type="reset"].candidate,
input[type="button"].candidate,
button.candidate,
.button.candidate {
  box-shadow: inset 0 0 0 2px var(--candidate-color);
	color: var(--candidate-color) !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .6 ) url("./../images/ajax-loader.gif") 50% 50% no-repeat;
}

body.loading .modal {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}