body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

input{
  margin-bottom: 10px;
}

.status {
  font-weight: normal;
  color: rgb(62, 130, 194);
  font-size: 24px;
}

.error {
  font-weight: normal;
  color: rgb(177, 20, 20);
  font-size: 24px;
}

#fancyTreeContainer .fancytree-active {
  background-color: rgba(61, 58, 58, 0);
}

#fancyTreeContainer .fancytree-container {
  outline: none;
}

#fancyTreeContainer .fancytree-title {
  outline: none;
}

#fancyTreeContainer .fancytree-expander {
  vertical-align: middle;
}
